@import 'https://fonts.googleapis.com/css?family=Ubuntu';

html 
{
	background: lightgrey;
}

body 
{
	background: whitesmoke; 									/* For browsers that do not support gradients */
    background: -webkit-radial-gradient(whitesmoke, lightgrey); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(whitesmoke, lightgrey); 		/* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(whitesmoke, lightgrey); 	/* For Firefox 3.6 to 15 */
    background: radial-gradient(whitesmoke, lightgrey); 		/* Standard syntax (must be last) */
	margin: 0 auto;
	padding: 3em;
	border: 1px solid rgba(0,0,0,0.25);
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
}

body::-webkit-scrollbar
{ 
	width: 1em;
}
 
body::-webkit-scrollbar-track 
{ 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb 
{ 
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

h1 /* Title */
{
	
}

h3 /* Warnings */
{
	color: #e68a00;
}

h4 /* Errors */
{
	color: #cc0000;
}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table
{
	border-spacing: 0px;
	border-collapse: collapse;
}

#front_table
{
	padding: 10px;
}

#front_td
{
	padding: 4px;
}

button
{
	background-color: lightgrey;
	color: black;
	font-size: 16px;
	border-radius: 4px;
	border-color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 15px 32px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	margin-top: 4px;
	margin-bottom: 4px;
}

button:hover
{
	background-color: #176093;
	color: white;
	border-color: white;
}

.thumb
{
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	height: 150px;
	width: auto;
	margin: 8px;
	display: inline;
}

.thumb:hover
{
	box-shadow: 10px 10px 7px darkgrey;
	-ms-transform: translate(-2px,-2px); /* IE 9 */
    -webkit-transform: translate(-2px,-2px); /* Safari */
    transform: translate(-2px,-2px); /* Standard syntax */
}